body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  color: blueviolet;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
#date,
#weather-description,
.weather-details {
  color: #7c7c7c;
}
#weather-girl {
  width: 200px;
  display: block;
  margin: 20px auto;
}

#temperature-text {
  font-size: 64px;
}
.unit {
  position: relative;
  padding-left: 0px;
  top: -34px;
  font-size: 20px;
  text-decoration: none;
}
.weather {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 0;
  border-radius: 10px;
  max-width: 620px;
}
.city-title {
  color: blueviolet;
}

.source-code {
  color: #7c7c7c;
}
.active {
  color: black;
}
.active:hover {
  color: black;
  cursor: default;
}
